<!doctype html>
<html lang="en" ng-app="inbox">
   <head>
      <meta charset="UTF-8">
      <base href="/">
      <title>Inbox</title>
      <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/inbox.css">
      <script src="libs/angular/angular.min.js"></script>
      <script src="libs/angular-route/angular-route.min.js"></script>
      <script src="js/inbox.js"></script>
      <script src="js/inboxController.js"></script>
   </head>
   <body ng-controller="inboxController">
      <div class="container">
         <nav class="navbar navbar-inverse">
            <div class="navbar-header">
               <%- include navbar.ejs %>
            </div>
         </nav>
         <div class="well">
            <div class="col-md-4 sidebar">
               <ul class="nav nav-sidebar">
                  <li class="ui-tab" id="compose-tab" ng-click="changeTab(0)"><a href="">Compose</a></li>
                  <li class="ui-tab" id="inbox-tab" ng-click="changeTab(1)"><a href="">Inbox</a></li>
                  <li class="ui-tab" id="drafts-tab" ng-click="changeTab(2)"><a href="">Drafts</a></li>
                  <li class="ui-tab" id="sent-tab" ng-click="changeTab(3)"><a href="">Sent</a></li>
               </ul>
            </div>
            <div class="col-md-8">
                  <div class="ui-content" ng-show="selectedTab === 0">
                     <form>
                        <p>To:</p>
                        <input ng-model="recipient" type="text"></input>
                        <p>Subject: </p>
                        <input ng-model="subject" type="text"></input>
                        <p>Message:</p>
                        <textarea ng-model="currentMessage" rows="4" cols="70" placeholder="Enter your message here." required></textarea>
                        <input ng-click="sendPrivateMessage()" type="submit" value="Submit"></input>
                        <input ng-click="saveDraft()" type="submit" value="Save Draft"></input>
                     </form>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 1">
                     <li ng-repeat="message in privateMessages">
                        <div class="message-author">By: {{message.author}}</div>
                        <div class="message-subject">Subject: {{message.subject}}</div>
                        <div class="message-date">Date: {{message.date}}</div>
                        <div class="message-content">Content: {{message.message}}</div>
                        <button type="button" ng-click="reply(message.author)">Reply</button>
                        <button type="button" ng-click="deleteRecievedMessage(message._id)">Delete</button>
                     </li>
                     <li ng-if="privateMessages.length === 0"> 
                        <strong>Your inbox is empty.</strong> 
                     </li>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 2">
                     <li ng-repeat="draft in drafts">
                        <div class="message-recipient">To: {{draft.recipient}}</div>
                        <div class="message-subject">Subject: {{draft.subject}}</div>
                        <div class="message-date">{{draft.date}}</div>
                        <div class="message-content">{{draft.message}}</div>
                        <button type="button" ng-click="edit(draft.recipient, draft.message)">Edit</button>
                        <button type="button" ng-click="deleteDraft(draft._id)">Delete</button>
                     </li>
                     <li ng-if="drafts.length === 0"> 
                        <strong>You do not have any drafts.</strong> 
                     </li>
                  </div> 
                  <div class="ui-content" ng-show="selectedTab === 3">
                     <li ng-repeat="sentMessage in sentMessages">
                        <div class="message-recipient">To: {{sentMessage.recipient}}</div>
                        <div class="message-subject">Subject: {{sentMessage.subject}}</div>
                        <div class="message-date">{{sentMessage.date}}</div>
                        <div class="message-content">{{sentMessage.message}}</div>
                        <button type="button" ng-click="deleteSentMessage(sentMessage._id)">Delete</button>
                     </li>
                     <li ng-if="sentMessages.length === 0"> 
                        <strong>You do not have any sent messages.</strong> 
                     </li>
                  </div>
            </div>
         </div>
      </div>
   </body>
</html>