<!doctype html>
<html lang="en" ng-app="inbox">
   <head>
      <meta charset="UTF-8">
      <base href="/">
      <title>Inbox</title>
      <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/inbox.css">
      <script src="libs/angular/angular.min.js"></script>
      <script src="libs/angular-route/angular-route.min.js"></script>
      <script src="js/inbox.js"></script>
      <script src="js/inboxController.js"></script>
   </head>
   <body ng-controller="inboxController">
      <div class="container">
         <nav class="navbar navbar-inverse">
            <div class="navbar-header">
               <%- include navbar.ejs %>
            </div>
         </nav>
         <div class="well">
            <div class="col-md-4 sidebar">
               <ul class="nav nav-sidebar">
                  <li class="ui-tab" id="compose-tab" ng-click="changeTab(0)"><a href="">Compose</a></li>
                  <li class="ui-tab" id="inbox-tab" ng-click="changeTab(1)"><a href="">Inbox</a></li>
                  <li class="ui-tab" id="drafts-tab" ng-click="changeTab(2)"><a href="">Drafts</a></li>
                  <li class="ui-tab" id="sent-tab" ng-click="changeTab(3)"><a href="">Sent</a></li>
               </ul>
            </div>
            <div class="col-md-8">
                  <div class="ui-content" ng-show="selectedTab === 0">
                     <form>
                        <p>To:</p>
                        <input ng-model="recipient" type="text"></input>
                        <p>Message:</p>
                        <textarea ng-model="currentMessage" rows="4" cols="70" placeholder="Enter your message here." required></textarea>
                        <input ng-click="sendPrivateMessage()" type="submit"></input>
                     </form>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 1">
                     <li ng-repeat="message in privateMessages">{{message.message}} by {{message.author}}</li>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 2"></div>
                  <div class="ui-content" ng-show="selectedTab === 3"></div>
            </div>
         </div>
      </div>
   </body>
</html>