<!doctype html>
<html lang="en" ng-app="inbox">
   <head>
      <meta charset="UTF-8">
      <base href="/">
      <title>Inbox</title>
      <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/inbox.css">
      <script src="libs/angular/angular.min.js"></script>
      <script src="libs/angular-route/angular-route.min.js"></script>
      <script src="js/inbox.js"></script>
      <script src="js/inboxController.js"></script>
      <script type="text/javascript">
         window.user = "<%= user %>";
      </script>
   </head>
   <body ng-controller="inboxController">
      <div class="container">
         <nav class="navbar navbar-inverse">
            <div class="navbar-header">
               <%- include navbar.ejs %>
            </div>
         </nav>
         <div class="well">
            <div class="col-md-4 sidebar">
               <ul class="nav nav-sidebar">
                  <li class="ui-tab" id="compose-tab" ng-click="changeTab(0)"><a href="">Compose</a></li>
                  <li class="ui-tab" id="inbox-tab" ng-click="changeTab(1)"><a href="">Inbox</a></li>
                  <li class="ui-tab" id="drafts-tab" ng-click="changeTab(2)"><a href="">Drafts</a></li>
                  <li class="ui-tab" id="sent-tab" ng-click="changeTab(3)"><a href="">Sent</a></li>
                  <li class="ui-tab" id="address-book-tab" ng-click="changeTab(4)"><a href="">Address Book</a></li>
               </ul>
            </div>
            <div class="col-md-8">
                  <div class="ui-content" ng-show="selectedTab === 0 && !isMessageView">
                     <form>
                        <div class="field-desc">To:</div>
                        <input ng-model="recipient" type="text" placeholder=""></input>
                        <div class="field-desc">Subject: </div>
                        <input ng-model="subject" type="text"></input>
                        <p class="field-desc" id="message-desc">Message:</p>
                        <textarea ng-model="currentMessage" rows="4" cols="70" placeholder="Enter your message here." required></textarea>
                        <input ng-click="sendPrivateMessage()" type="submit" value="Submit"></input>
                        <input ng-click="saveDraft()" type="submit" value="Save Draft"></input>
                     </form>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 1 && !isMessageView">
                     <input ng-model="searchText" type="text" class="searchbar" placeholder="Search"></input>
                     <button type="button" ng-click="getPrivateMessages()">Refresh</button>
                     <a ng-repeat="message in privateMessages | orderBy: message.date | filter:searchText" ng-click="enterMessageView('true', message, 'inbox')">
                        <div class="message-author">From: {{message.author}}</div>
                        <div class="message-subject">Subject: {{message.subject}}</div>
                        <div class="message-date">Date: {{message.date | date:'medium'}}</div>
                        <div class="message-content" ng-hide="true">Content: {{message.message}}</div>
                     </a>
                     <li ng-if="privateMessages.length === 0"> 
                        <strong>Your inbox is empty.</strong> 
                     </li>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 2 && !isMessageView">
                     <input ng-model="searchText" type="text" class="searchbar" placeholder="Search"></input>
                     <a ng-repeat="draft in drafts | filter:searchText | orderBy: draft.date" ng-click="enterMessageView('false', draft, 'draft')">
                        <div class="message-recipient">To: {{draft.recipient}}</div>
                        <div class="message-subject">Subject: {{draft.subject}}</div>
                        <div class="message-date">Date: {{draft.date | date:'medium'}}</div>
                        <div class="message-content" ng-hide="true">Content: {{draft.message}}</div>
                     </a>
                     <li ng-if="drafts.length === 0"> 
                        <strong>You do not have any drafts.</strong> 
                     </li>
                  </div> 
                  <div class="ui-content" ng-show="selectedTab === 3 && !isMessageView">
                     <input ng-model="searchText" type="text" class="searchbar" placeholder="Search"></input>
                     <a ng-repeat="sentMessage in sentMessages | orderBy: sentMessage.date | filter:searchText" ng-click="enterMessageView('false', sentMessage, 'sent')">
                        <div class="message-recipient">To: {{sentMessage.recipient}}</div>
                        <div class="message-subject">Subject: {{sentMessage.subject}}</div>
                        <div class="message-date">Date: {{sentMessage.date | date:'medium'}}</div>
                        <div class="message-content" ng-hide="true">Content: {{sentMessage.message}}</div>
                     </a>
                     <li ng-if="sentMessages.length === 0"> 
                        <strong>You do not have any sent messages.</strong> 
                     </li>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 4 && !isMessageView">
                     <li ng-repeat="contact in contacts">
                        <div class="contact">{{contact.friend}}</div>
                        <button type="button" ng-click="reply(contact.friend)">Send Message</button>
                     </li>
                     <li ng-if="contacts.length === 0">
                        <strong>You do not have any contacts.</strong> 
                     </li>
                  </div>
                  <div class="ui-content" ng-show="isMessageView"> 
                     <div class="message-recipient" ng-show="messageViewIsFrom">From: {{messageViewMessage.author}}</div>
                     <div class="message-recipient" ng-hide="messageViewIsFrom">To: {{messageViewMessage.recipient}}</div>
                     <div class="message-subject">Subject: {{messageViewMessage.subject}}</div>
                     <div class="message-date">Date: {{messageViewMessage.date | date:'medium' }}</div>
                     <div class="message-content">Content: {{messageViewMessage.message}}</div>
                     <div ng-show="messageViewMessageType === 'inbox'">
                        <button type="button" ng-click="reply(messageViewMessage.author)">Reply</button>
                        <button type="button" ng-click="deleteRecievedMessage(messageViewMessage._id)">Delete</button>
                     </div>
                     <div ng-show="messageViewMessageType === 'draft'">
                        <button type="button" ng-click="edit(messageViewMessage.recipient, messageViewMessage.subject, messageViewMessage.message)">Edit</button>
                        <button type="button" ng-click="deleteDraft(messageViewMessage._id)">Delete</button>
                     </div>
                     <div ng-show="messageViewMessageType === 'sent'">
                        <button type="button" ng-click="deleteSentMessage(messageViewMessage._id)">Delete</button>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </body>
</html>