<!doctype html>
<html lang="en" ng-app="inbox">
   <head>
      <meta charset="UTF-8">
      <base href="/">
      <title>Inbox</title>
      <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/inbox.css">
      <script src="libs/angular/angular.min.js"></script>
      <script src="libs/angular-route/angular-route.min.js"></script>
      <script src="libs/jquery/dist/jquery.js"></script>
      <script src="libs/bootstrap/js/tooltip.js"></script>
      <script src="libs/bootstrap/js/popover.js"></script>
      <script src="js/inbox.js"></script>
      <script src="js/inboxController.js"></script>
      <script src="js/navbar.js"></script>
      <script type="text/javascript">
         window.user = "<%= user %>";
      </script>
   </head>
   <body ng-controller="inboxController">
      <div class="container">
         <nav class="navbar navbar-inverse">
            <div class="navbar-header">
               <%- include navbar.ejs %>
            </div>
         </nav>
         <div class="alert alert-success" ng-show="alerts.messageSentSuccess">Message sent successfully.</div>
         <div class="alert alert-success" ng-show="alerts.draftSavedSuccess">Draft saved successfully.</div>
         <div class="alert alert-success" ng-show="alerts.messageDeleteSuccess">Message deleted successfully.</div>
         <div class="alert alert-success" ng-show="alerts.draftDeleteSuccess">Draft deleted successfully.</div>
         <div class="alert alert-warning" ng-show="alerts.editDraftWarning">Warning, you have a message in progress. Are you sure you want to overwrite it? If so, click <a ng-click="populateMessageFields(pendingMessage.recipient, pendingMessage.subject, pendingMessage.message)">here</a>.</div>
         <div class="well">
            <div class="col-md-3 sidebar">
               <ul class="nav nav-sidebar" style="background:#6699FF">
                  <li class="ui-tab" id="compose-tab" ng-click="changeTab(0)"><a href="">Compose</a></li>
                  <li class="ui-tab" id="inbox-tab" ng-click="changeTab(1)"><a href="">Inbox</a></li>
                  <li class="ui-tab" id="drafts-tab" ng-click="changeTab(2)"><a href="">Drafts</a></li>
                  <li class="ui-tab" id="sent-tab" ng-click="changeTab(3)"><a href="">Sent</a></li>
                  <li class="ui-tab" id="address-book-tab" ng-click="changeTab(4)"><a href="">Address Book</a></li>
               </ul>
            </div>
            <div class="col-md-9">
                  <div class="ui-content" ng-show="selectedTab === 0 && !isMessageView">
                     <form>
                        <div class="field-desc">To:</div>
                        <input ng-model="recipient" type="text" placeholder=""></input>
                        <div class="field-desc">Subject: </div>
                        <input ng-model="subject" type="text"></input>
                        <textarea class="field-desc" ng-model="currentMessage" placeholder="Enter your message here."></textarea>
                        <button class="btn btn-default field-desc" ng-click="sendPrivateMessage()" type="button">Submit</button>
                        <button class="btn btn-default field-desc" ng-click="saveDraft()" type="button">Save Draft</button>
                     </form>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 1 && !isMessageView">
                     <input ng-model="searchText" type="text" class="searchbar" placeholder="Search"></input>
                     <button type="button" class="glyphicon-container" ng-click="getPrivateMessages()" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
                     <hr/>
                     <a ng-repeat="message in privateMessages | orderBy: message.date | filter:searchText" ng-click="enterMessageView(true, message, 'inbox')" class="message-group">
                        <span class="message-author">From: {{message.author}}</span>
                        <span class="message-subject">Subject: {{message.subject}}</span>
                        <span class="message-date">Date: {{message.date | date:'medium'}}</span>
                        <span class="message-content" ng-hide="true">Content: {{message.message}}</span>
                     </a>
                     <li class="empty-message" ng-if="privateMessages.length === 0"> 
                        <strong>Your inbox is empty.</strong> 
                     </li>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 2 && !isMessageView">
                     <input ng-model="searchText" type="text" class="searchbar" placeholder="Search"></input>
                     <button type="button" class="glyphicon-container" ng-click="getDrafts()" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
                     <hr/>
                     <a ng-repeat="draft in drafts | filter:searchText | orderBy: draft.date" ng-click="enterMessageView(false, draft, 'draft')" class="message-group">
                        <span class="message-recipient">To: {{draft.recipient}}</span>
                        <span class="message-subject">Subject: {{draft.subject}}</span>
                        <span class="message-date">Date: {{draft.date | date:'medium'}}</span>
                        <span class="message-content" ng-hide="true">Content: {{draft.message}}</span>
                     </a>
                     <li class="empty-message" ng-if="drafts.length === 0"> 
                        <strong>You do not have any drafts.</strong> 
                     </li>
                  </div> 
                  <div class="ui-content" ng-show="selectedTab === 3 && !isMessageView">
                     <input ng-model="searchText" type="text" class="searchbar" placeholder="Search"></input>
                     <button type="button" class="glyphicon-container" ng-click="getSentMessages()" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
                     <hr/>
                     <a ng-repeat="sentMessage in sentMessages | filter:searchText | orderBy: sentMessage.date" ng-click="enterMessageView(false, sentMessage, 'sent')" class="message-group">
                        <span class="message-recipient">To: {{sentMessage.recipient}}</span>
                        <span class="message-subject">Subject: {{sentMessage.subject}}</span>
                        <span class="message-date">Date: {{sentMessage.date | date:'medium'}}</span>
                        <span class="message-content" ng-hide="true">Content: {{sentMessage.message}}</span>
                     </a>
                     <li class="empty-message" ng-if="sentMessages.length === 0"> 
                        <strong>You do not have any sent messages.</strong> 
                     </li>
                  </div>
                  <div class="ui-content" ng-show="selectedTab === 4 && !isMessageView">
                     <li ng-repeat="contact in contacts">
                     <input ng-model="searchText" type="text" class="searchbar" placeholder="Search"></input>
                      <button type="button" class="glyphicon-container" ng-click="getContacts()" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
                        <div class="contact">{{contact.friend | filter:searchText}}</div>
                        <button type="button" ng-click="reply(contact.friend)" class="btn btn-default field-desc">Send Message</button>
                     </li>
                     <li class="empty-message" ng-if="contacts.length === 0">
                        <strong>You do not have any contacts.</strong> 
                     </li>
                  </div>
                  <div class="ui-content" ng-show="isMessageView"> 
                     <div class="field-desc">
                        <div class="message-recipient" ng-show="messageViewIsFrom">From: {{messageViewMessage.author}}</div>
                        <div class="message-recipient" ng-show="!messageViewIsFrom">To: {{messageViewMessage.recipient}}</div>
                        <div class="message-subject">Subject: {{messageViewMessage.subject}}</div>
                        <div class="message-date">Date: {{messageViewMessage.date | date:'medium' }}</div>
                        <div class="message-content">{{messageViewMessage.message}}</div>
                     </div>
                     <div ng-show="messageViewMessageType === 'inbox'">
                        <button class="field-desc btn btn-default" type="button" class="btn btn-default" ng-click="reply(messageViewMessage.author)">Reply</button>
                        <button class="field-desc btn btn-default" type="button" class="btn btn-default" ng-click="deleteRecievedMessage(messageViewMessage._id)">Delete</button>
                     </div>
                     <div ng-show="messageViewMessageType === 'draft'">
                        <button class="field-desc btn btn-default" type="button" class="btn btn-default" ng-click="edit(messageViewMessage.recipient, messageViewMessage.subject, messageViewMessage.message)">Edit</button>
                        <button class="field-desc btn btn-default" type="button" class="btn btn-default" ng-click="deleteDraft(messageViewMessage._id)">Delete</button>
                     </div>
                     <div ng-show="messageViewMessageType === 'sent'">
                        <button class="field-desc btn btn-default" type="button" class="btn btn-default" ng-click="deleteSentMessage(messageViewMessage._id)">Delete</button>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </body>
</html>