<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Social Application built with NodeJS!</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/bootstrap/js/tooltip.js"></script>
    <script src="libs/bootstrap/js/popover.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="js/navbar.js"></script>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
         <%- include navbar.ejs %>
        </div>
    </nav>
    <div class="jumbotron">
        <h1>Social application built with NodeJS!</h1>
        <p>Uses the functionality of the MEAN stack as well as various external dependencies.</p>
    </div>

</div>
</body>
</html>
