            <a class="navbar-brand" href="/">Home</a>
            <% if (user) { %>
            <a class="navbar-brand" href="/<%= user %>"><%= user %></a>
            <a class="navbar-brand" id="friend_requests" data-container="body" data-toggle="popover" data-placement="left" data-content=""><span class="glyphicon glyphicon-user"></span></a>
            <a class="navbar-brand" href="/settings">Settings</a>
            <a class="navbar-brand" href="/logout">Logout</a>
            <% } else { %>
             <a class="navbar-brand" href="/register">Register</a>
            <a class="navbar-brand" href="/login">Log in</a>
            <% } %>