<!doctype html>
<html lang="en" ng-app="userLogin">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title><%= user.username %></title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
</head>

<body ng-controller="userLoginController">
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/register">Register user</a>
            <a class="navbar-brand" href="/login">Log in</a>
            <a class="navbar-brand" href="/login"><%= user.username %></a>
        </div>
    </nav>

    <% if (user) { %>
            <span class="navbar-brand" href="/login">Welcome <%= user.username %>!</a>
    <% } %>

</div>
</body>
</html>


