<!doctype html>
<html lang="en" ng-app="userRegistration">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Register</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/bootstrap/js/tooltip.js"></script>
    <script src="libs/bootstrap/js/popover.js"></script>
    <script src="js/userRegistration.js"></script>
    <script src="js/userRegistrationController.js"></script>
    <script src="js/navbar.js"></script>
</head>

<body ng-controller="userRegistrationController">
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <%- include navbar.ejs %>

        </div>
    </nav>
    <div class="well">
        <form role="form" ng-submit="createUser()">
                <div class="form-group">
                    <div class="span2"><label>Username: </label></div><div class="span2"><input type="text" id="username" ng-model="username" placeholder="Enter username"></input></div>
                </div>
                <div class="form-group">
                    <div class="span2"><label>Password: </label></div><div class="span2"><input type="password" id="password" ng-model="password" placeholder="Enter password"></input></div>
                </div>
            <input type="submit" class="btn btn-default" value="Register" />
        </form>
    </div>
    <div ng-show="success" class="alert alert-success">User created successfully! Click <a ng-show="success" href="/login">here</a> to log in.</div>

</div>
</body>
</html>
