<!doctype html>
<html lang="en" ng-app="profile">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Settings</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/profileController.js"></script>
</head>

<body ng-controller="profileController">
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <%- include navbar.ejs %>

        </div>
    </nav>

    <form role="form" ng-submit="changeSettings()">
            <div class="form-group">
                <div class="span2"><label>Profile Image URL: </label></div><div class="span2"><input type="text" id="profileImageURLSettings" ng-model="profileImageURLSettings" placeholder=""></input></div>
            </div>
        <input type="submit" class="btn btn-default" value="Submit" />
    </form>

    <div ng-show="settingPostSuccess" class="alert alert-success">Settings saved successfully!</div>

</div>
</body>
</html>
