<!doctype html>
<html lang="en" ng-app="profile">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Settings</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/navbar.css">
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/bootstrap/js/tooltip.js"></script>
    <script src="libs/bootstrap/js/popover.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/profileController.js"></script>
    <script src="js/navbar.js"></script>
</head>

<body ng-controller="profileController">
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <%- include navbar.ejs %>

        </div>
    </nav>
    <div class="well">
	    <form role="form" ng-submit="changeSettings()">
	            <div class="form-group">
	                <div class="span2"><label>Profile Image URL: </label></div><div class="span2"><input type="text" id="profileImageURLSettings" ng-model="profileImageURLSettings" ng-bind="profileImageURLSettings" placeholder=""></input></div>
	                <div class="span2"><label>Bio: </label></div><div class="span2"><input type="text" id="bioSettings" ng-model="bioSettings" ng-bind="bioSettings" placeholder=""></input></div>
	            </div>
	        <input type="submit" class="btn btn-default" value="Submit" />
	    </form>
    </div>

    <div ng-show="settingPostSuccess" class="alert alert-success">Settings saved successfully!</div>

</div>
</body>
</html>
