.well {
	overflow: auto;
}

.ui-tab, .ui-content {
	border: solid #ddd;
    border-width: 1px;
    background: #fff;
    overflow: auto;
}

#inbox-tab {
	border-bottom: none;
	border-top: none;
}

#drafts-tab {
	border-bottom: none;
}

#address-book-tab{
	border-top: none;
}

ul,li { 
	list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
 }

.searchbar {
	float: left !important;

}

.message-group {
 	float: left !important;
 	clear: left;
 	display:inline-block;
 }

.empty-message {
	clear:both;
}

 .field-desc {
 	display: inline-block;
 }

 #message-desc {
 	clear:both !important;
 }