#profileImage {
	border: solid #ddd;
	min-width:100%;
	max-width:100%;
	max-height:400px;
}
input {
	position:relative;
    top:0px;
    left:5px;
}
ul,li { 
	list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
 }

.message {
	max-width:600px;
	background: #fff;
	margin-bottom: 1px;
	margin-left: 5px;
	border: solid #ddd;
	border-style: solid;
	border-width: 1px;
	position: relative;
}
.author {
	position: relative;


}