#profileImage {
	min-width: 310px;
	max-width: 310px;
	min-height: 310px;
	max-height: 310px;
	border: solid #ddd;
    border-width: 1px;
}

#profilemodule {
	overflow: auto;
}

.profile-module-column {
    vertical-align: top;
    background: #fff;
}

.profile-image-container {
	border-top: solid #ddd;
	border-left: solid #ddd;
	border-right: solid #ddd;
    border-width: 1px;
    padding: 18px;
}

.profile-info-container {
	border: solid #ddd;
    border-width: 1px;
}
#profileinfo {
	padding-left:20px;
	padding-right:20px;
}


.friendsmodule{
	position: relative;
	margin-top:7px;
	width:100%;
	border: solid #ddd;
    border-width: 1px;
    background: #fff;
}

.friendsmodule h5 {
	display: inline-block;
	padding-top: 2px;
	padding-right: 3px;
}

input {
	position:relative;
    top:0px;
    left:5px;
}
ul,li { 
	list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
 }
.body {
	max-width: 100%;
	max-height: 100%;
}

.message {
	max-width:100%;
	background: #fff;
	margin-bottom: 1px;
	margin-left: 5px;
	border: solid #ddd;
	border-style: solid;
	border-width: 1px;
	position: relative;
}
.author {
	position: relative;


}
.message-image {
	max-width: 100px;
	min-width: 100px;
	max-height: 100px;
	min-height: 100px;
	border: solid #ddd;
	margin: 5px;

}

.author {
   margin-top: 5px;
   margin-bottom: 5px;
   float: top;
   display: inline-block;
   vertical-align: top;

}
.content {
   position:absolute;
   clear: right;
   display: inline-block;
   margin-left: 0px;
   margin-top: 20px;
   left: 115px;

}